#navbar-container {
  text-align: center;
  width: 100%;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Rubber_duckies_So_many_ducks.jpg/1920px-Rubber_duckies_So_many_ducks.jpg');
  background-size: cover; /* make ducks stretch to width of header */
  margin-left: 0px;
  /* margin-bottom: 0px; */
  position: relative;
  white-space: nowrap;
}

#navbar-title-container {
  height: 100px;
}

#navbar-title {
  text-align: center;
  line-height: 100px;
}

#navbar-buttons-container {
  width: 100%;
  height: 50px;
  background-color: maroon;
  /* https://www.w3schools.com/cssref/css_colors.asp */
  /* darkorange gold firebrick khaki maroon */
  /* border: 1px solid darkgrey; */
  /* background-color: lightblue; */
  margin-left: 0px;
  /* position: fixed;
  bottom: 0; */
  /* position: absolute;
  bottom: 0; */
  color: white; /* color of navbar buttons' text */
}

Button {
  height: 100%;
}

.mui-dropdown .mui-btn--inherit {
  background-color: maroon;
  color: inherit;
}

/* .mui-dropdown__menu */
.mui--is-open {
  padding: 0px;
  margin: 0px;
  color: inherit;
}
